---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



---
---

@import "minimal-mistakes"; 

.page__sidebar {
  float: left;
  width: 250px;
  margin-right: 2em;
}
.page__content {
  margin-left: 270px;
}
