---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



---
---

@import "minimal-mistakes";

/* 여기에 사용자 정의 CSS 작성 */
.sidebar__right {
  float: left;
  margin-right: 2em;
  margin-left: 0;
}
