---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



---
---

@import "minimal-mistakes"; // 기존 테마 스타일 불러오기

/* 사이드바를 좌측으로 이동 */
.sidebar__right {
  float: left;
  margin-right: 2em;
  margin-left: 0;
}
